name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
#        os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest]
        php: ['7.1', '7.2', '7.3', '7.4', '8.0']
        # max 4.4.16, see https://github.com/symfony/symfony/issues/39521
        # max 5.1.8, see https://github.com/symfony/symfony/issues/39521
        yaml: ['5.2.9', '5.1.11', '4.4.24', '^3.4']
        exclude:
          # Symfony YAML does not run on PHP 7.1
          - php: '7.1'
            yaml: '5.1.11'
          - php: '7.1'
            yaml: '5.2.9'
        include:
          - php: '7.4'
            os: windows-latest
            yaml: '5.2.9'
          - php: '7.4'
            os: macos-latest
            yaml: '5.2.9'


    runs-on: ${{ matrix.os }}
    env:
      YAML:  ${{ matrix.yaml }}

    steps:
      - uses: actions/checkout@v2

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          ini-values: date.timezone='UTC'
          coverage: pcov
          tools: composer:v2

      - name: Determine composer cache directory (Linux/MacOS)
        if: matrix.os != 'windows-latest'
        run: echo "COMPOSER_CACHE_DIR=$(composer config cache-dir)" >> $GITHUB_ENV

      - name: Determine composer cache directory (Windows)
        if: matrix.os == 'windows-latest'
        run: echo "COMPOSER_CACHE_DIR=~\AppData\Local\Composer" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      - name: Cache dependencies installed with composer
        uses: actions/cache@v2
        with:
          path: ${{ env.COMPOSER_CACHE_DIR }}
          key: php${{ matrix.php }}-os${{ matrix.os }}-yaml${{ matrix.yaml }}-composer-${{ hashFiles('**/composer.json') }}


      - name: Validate composer.json and composer.lock
        run: composer validate --ansi

      - name: Install dependencies (Linux/MacOS)
        if: matrix.os != 'windows-latest'
        run: |
          make install
          composer require symfony/yaml:"${YAML}" --prefer-dist --no-interaction --ansi

      - name: Install dependencies (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          composer install --prefer-dist --no-interaction --no-progress --ansi
          composer require symfony/yaml:5.1.8 --prefer-dist --no-interaction --ansi

      - name: Validate test data
        if: matrix.os == 'ubuntu-latest'
        run: make lint

      - name: PHP Stan analysis
        if: matrix.os == 'ubuntu-latest'
        run: make stan

      - name: PHPUnit tests (Linux/MacOS)
        if: matrix.os != 'windows-latest'
        run: make test

      - name: PHPUnit tests (Windows)
        if: matrix.os == 'windows-latest'
        run: vendor/bin/phpunit --colors=always

      - name: Check code style
        if: matrix.os == 'ubuntu-latest'
        run: make check-style

      - name: Code coverage
        if: matrix.os == 'ubuntu-latest'
        run: make coverage
